@function rem($pixels, $design_draft_width:1280) {
   @return $pixels / $design_draft_width + rem;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: "微软雅黑";
}

nav {
  position: relative;
  background: #fff;
  height: rem(56);
  width:  rem(1280);
  #logo {
    height: rem(56);
    width: rem(31);
    margin: 0 rem(9) 0 rem(59);
    padding: rem(12) 0;
    }
  #title {
    position: absolute;
    font-size: rem(21);
    top: 0;
    left: rem(100);
    height: rem(56);
    line-height: rem(56);
    color: #393a3a;
  }
  #nav {
    position: absolute;
    color: #787b83;
    font-size: rem(14);
    right: 0;
    top: 0;
    margin: 0;
    margin-right: rem(12);
    padding: rem(6) 0 rem(2) 0;
    height: rem(56);
    overflow: hidden;
    li {
      display: inline-block;
      margin-right: rem(34);
      line-height: rem(46);
      padding: 0 rem(12);
    }
    li.active {
        border-bottom: 4px solid red;;
      }
  }
  #login {
    color: red;
  }
}
.section-1{
  padding: rem(200) 0 0 rem(115);
  height: rem(690);
  color: white;
  background: url('../images/task_1_7_1_10.png') ;
  background-size: cover;
  .theme {
    font-size: rem(60);
    font-weight: 700;
    margin-top: 0;
    margin-bottom: rem(15);
    &::first-letter{
      text-transform: uppercase;
    }
  }
  .slogan {
    font-size: rem(21);
    font-weight: 200;
    line-height: rem(35);
  }
  .link {
    display: block;
    width: rem(330);
    height: rem(65);
    background: #e74f4d;
    text-align: center;
    line-height: rem(65);
    text-decoration: none;
    color: white;
    font-size: rem(30);
    font-weight: 300;
    margin-top: rem(50);
  }
}

.section-2 {
  position: relative;
  display: flex;
  height: rem(250);
  justify-content: space-around;
  div {
    padding-top: rem(45);
     flex: 1 1 rem(320);
     text-align: center;
     p:nth-of-type(3) {
      border-right-width: 0;
    }
  }
  p { 
    margin-top: 46px;
    padding-bottom: rem(20);
    font-size: rem(14);
    color: #767777;
    border-right: 2px solid #767777;
  }
}