body{
    margin: 0;    
    padding: 0;
    min-width: 600px;
}
.container{
    padding: 20px;
    background: #eee;
    overflow: hidden;
}

main,.left,.right{
    float: left;
    min-height: 130px;
    box-sizing: border-box;
}

main{
    width: 100%;
}

.main-content{
    padding:0 20px;
    min-height: 280px;
    margin-left: 220px;
    margin-right: 140px;
    border: 1px solid #999;
      background: white;
}

.left{
    padding: 20px;
    width:200px;
    margin-left:-100%;
    background: white;
}

.right{
    padding:0 20px;
    width: 120px;
    margin-left: -120px;
    overflow: hidden;
      background: white;
}

img{
    width: 80px;
    height: 80px;
}

.left img{
    float: left;
    margin-right: 10px;
}
div,img{
    border: 1px solid #999;
}

ul{
    padding: 0;
    list-style: none;
}