html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  margin-left: calc(-25%);

}

.label {
  font-size: 16px;
  font-weight: 700;
}

button {
  padding: .5em .8em;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(52,122,183);
}

input {
  width: 300px;
  margin: 0 10px;
  padding: .5em .4em;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  border: 1px solid rgb(209,209,209);
  
  border-radius: 5px;
}

.input-success {
  border: 1px solid rgb(114,193,95);
}

.input-error {
  border: 1px solid rgb(218,6,27);
}

.tip {
  margin-top: 4px;
  margin-left: 48px;
  font-size: 12px;
  color: rgb(209,209,209);
}

.tip-success {
  color: rgb(114,193,95);
}

.tip-error {
  color: rgb(218,6,27);
}